*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn{
  font-size: 1rem;
  font-weight: bold;
  width: 100px;
  padding: 10px 0;
  margin: 20px;
  border: none;
  border-radius: 2px;
  background: #448AFF;
  color: white;
  cursor: pointer;
  position: relative;
}

.btn:focus{
  outline-style: solid;
  outline-color: #448AFF;
  outline-width: 3px;
  outline-offset: 3px;
  background: #3f7eeb
}

.btn:focus::after{
  display: inline-block;
}